<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>User_Register</servlet-name>
        <servlet-class>com.Performance.Controller.User_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Login</servlet-name>
        <servlet-class>com.Performance.Controller.User_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Url</servlet-name>
        <servlet-class>com.Performance.Controller.Update_Url</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayData</servlet-name>
        <servlet-class>com.Performance.Controller.DisplayData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitySearch</servlet-name>
        <servlet-class>com.Performance.Controller.CitySearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>com.Performance.Controller.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_User</servlet-name>
        <servlet-class>com.Performance.Controller.Edit_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.Performance.Controller.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarChartPricing</servlet-name>
        <servlet-class>com.Performance.Controller.BarChartPricing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarChartUsage</servlet-name>
        <servlet-class>com.Performance.Controller.BarChartUsage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBarchart</servlet-name>
        <servlet-class>com.Performance.Controller.AdminBarchart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBarChartTime</servlet-name>
        <servlet-class>com.Performance.Controller.AdminBarChartTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBarChartUsage</servlet-name>
        <servlet-class>com.Performance.Controller.AdminBarChartUsage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CitySearch</servlet-name>
        <url-pattern>/CitySearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>saveFile</servlet-name>
        <servlet-class>com.Performance.Controller.saveFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublicDownload</servlet-name>
        <url-pattern>/PublicDownload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PublicDownload</servlet-name>
        <servlet-class>com.Performance.Controller.PublicDownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BarChart</servlet-name>
        <url-pattern>/BarChart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BarChart</servlet-name>
        <servlet-class>com.Performance.Controller.BarChart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveFile</servlet-name>
        <url-pattern>/saveFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Register</servlet-name>
        <url-pattern>/User_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Login</servlet-name>
        <url-pattern>/User_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Url</servlet-name>
        <url-pattern>/Update_Url</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayData</servlet-name>
        <url-pattern>/DisplayData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_User</servlet-name>
        <url-pattern>/Edit_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarChartPricing</servlet-name>
        <url-pattern>/BarChartPricing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarChartUsage</servlet-name>
        <url-pattern>/BarChartUsage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBarchart</servlet-name>
        <url-pattern>/AdminBarchart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBarChartTime</servlet-name>
        <url-pattern>/AdminBarChartTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBarChartUsage</servlet-name>
        <url-pattern>/AdminBarChartUsage</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>IndexPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
